@keyframes flash {
    0% {
        background-color: Yellow;
        opacity:1;
    }
    22% {
        background-color: Yellow;
    }
    77% {
        background-color: Red;
    }
    100% {
        background-color: #777;
    }
}
    
.flash_once {
    -webkit-animation-name: flash;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.sparkgrad0 {
    background-image: linear-gradient(rgb(196, 240, 253), rgb(24, 121, 229));
}
  
.sparkgrad1 {
    background-image: linear-gradient(rgb(241, 175, 248), rgb(148, 34, 223));
}
  
.sparkgrad2 {
    background-image: linear-gradient(rgb(239, 184, 202), rgb(247, 58, 98));
}

div.hide {
    display: none;
}

div.verticalText {
    border-radius: 20px;
    position: absolute;
    color: white;
    font-size: 50px;
    font-family: "Industrywf",sans-serif;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
    writing-mode: vertical-rl;
  }

.hatsContainer {
  position: relative;
  height: 420px;
  width: 64px;
}

.hats {
    position: absolute;
    margin-left: -32px;
    left: 50%;
    height: 420px;
    width: 64px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 20px;
}

.hat {
    height: 64px;
    width: 64px;
    margin: -24px 0px 0px 0px;
    background-size: 64px 64px;
    background-repeat: no-repeat;
    background-image: url("../img/RebelHat.png");
}

.hat.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0) scale(1.2, 1.2);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0) scale(1.4, 1.4);
    }
  
    30%, 70% {
      transform: translate3d(-4px, 0, 0) scale(1.6, 1.6);
    }
  
    50% {
      transform: translate3d(-4px, 0, 0) scale(2.0, 2.0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0) scale(1.8, 1.8);
    }
  }